@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.container {
  margin: 30px auto;
  width: 400px;
}

h1 {
  font-size: 26px;
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  font-size: 16px;
  letter-spacing: 0.2mm;
  /*border-bottom: 1px solid #bbb;*/
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 4px;
}

p {
  font-size: 14px;
}

.total-balance-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center; 
}


.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 18px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #EB5353; /*#c0392b;*/
}

label {
  margin: 10px 0;
}

select {
  border: 1px solid #dedede;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.amount-container {
  border-bottom: 1px solid #bbb;
  width: 90%;
  margin: 20px;
}

.amount-prefix {
  font-size: 24px;
  padding-left: 20px;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

input[type='number']{
  border: none;
  outline: none;
  background: none;
  font-size: 26px;
  padding: 0px 0px 12px 1px;
  width: 85%;
  margin: 0px 0px 12px 3px;
}

input[type='date'] {
  border: 1px solid #dedede;
  border-radius: 4px;
  display: block;
  padding: 10px;
  width: 100%;
  margin: 20px 0 20px;
}

input[type='text'] {
  border: 1px solid #dedede;
  border-radius: 4px;
  display: block;
  padding: 10px;
  width: 100%;
}

.add-cancel-form {
  display: flex;  
  justify-content: space-between; 
}

.btn {
  cursor: pointer;
  background-color: #5f5f5fcc;
  box-shadow: var(--box-shadow);
  color: #fff;
  font-weight: 500;
  border: 0;
  display: block;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.9px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 48%;
  border-radius: 4px;
}

.cancel-btn {
  background-color: #f7f7f7;
  color: #333;
}

.add-btn {
  background-color: #8574da;
}

.add-btn:hover {
  background-color: #675ba1;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}





/*
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}
*/
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.list li {
  font-size: 16px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: grid;
  /*grid-template-columns: auto auto;*/
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
}

.list li .transaction-details {
  display: flex;
  flex-direction: column;
}

.list li .transaction-text {
  font-weight: bold;
}

.list li .transaction-amount {
  font-weight: bold;
}

.list li .transaction-date {
  font-size: 10px;
  padding: 5px 0 0 0;
  
}

.list li.plus .transaction-amount {
  color: #2ecc71; /* Verde */
}

.list li.minus .transaction-amount {
  color: #EB5353; /* Rojo */
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #EB5353;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.list li {
  position: relative; 
  background-color: #fff;
  /*box-shadow: var(--box-shadow);*/
  color: #333;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.list li .transaction-details {
  display: flex;
  flex-direction: column;
}

.list li .transaction-text {
  font-size: 14px;
  font-weight: bold;
}

.list li .transaction-amount {
  font-weight: bold;
}

.list li .transaction-date {
  color: #696969;
  padding: 5px 0 0 0;
  font-size: 12px !important;
}

.list li.plus {
  border-right: 5px solid #2ecc71; 
}

.list li.minus {
  border-right: 5px solid #EB5353;
} /*#c0392b*/

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

/*
.transactions-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter-transactions-btn {
  width: auto;
  font-size: 14px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}*/
.transactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.transactions-header h3 {
  margin: 0; 
  border: none;
}

.filter-transactions-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.container-add-transaction {
  display: flex;
  justify-content: center;
}

.no-transactions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-transactions-container img {
  width: 48%;
}

.no-transactions-container p {
  font-size: 16px;
}


.add-icon {
  /*margin-left: auto;*/
  color: #8574da;
  font-size: 48px;  
  cursor: pointer;  
}

.add-icon:hover {
  color: #675ba1;
}